@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  background-color: #F5F5F5;
  height: 100%;
}

.main-header {
  height: 45px;
  border-bottom: 1px solid black;
  background: linear-gradient(#507FA6, #32628C);

}
.container {
  position: relative;
  height:100%;
  border-collapse:collapse;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  border-top: 1px solid black;
  background: linear-gradient(#507FA6, #32628C);

  h2 {
    background: -webkit-linear-gradient(#F5F7F9,#AABFD0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 12px;
    margin-left: 200px;
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
  }
}

.main-title {
  float: left;
  font-size: 24px;
  margin-top: 4px;
  background: -webkit-linear-gradient(#F5F7F9,#AABFD0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Indie Flower', cursive;
  margin-left: 200px;
}
.main-login {
  float: right;
  border-left: 1px solid #386387;
  border-right: 1px solid #386387;
  color: white;
  padding: 12px;
  font-size: 13px;
  cursor: pointer;

  .fa-user {
    background: -webkit-linear-gradient(#F5F7F9,#AABFD0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 5px;  
    font-size: 20px;
  }

  &:hover {
    background: #507FA6;

  }
}
.main-settings {
  float: right;
  border-right: 1px solid #386387;
  color: white;
  margin-right: 200px;
  padding: 12px;
  font-size: 13px;
  cursor: pointer;

  .fa-cog {
    background: -webkit-linear-gradient(#F5F7F9,#AABFD0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 5px;
    font-size: 20px;
  }

  &:hover {
    background: #507FA6;

  }
}




.outer {
  @include outer-container;

  .primary {
    @include span-columns(12);
    @include omega;
    margin-bottom: 70px;

    .pic-container {
      @include span-columns(3 of 12);
      @include omega(4n);
      
    }
  }
}

.pic-container {
  
  overflow: hidden;
  height: 200px;
  cursor: pointer;
  margin-bottom: 2.35765%;
  border-radius: 15%;
  opacity: .65;

  &:hover {
    border: 3px dotted #507FA6;
    opacity: 1;
  }
  
}

.main-pictures {
  width: 100%;
  height: 100%;
  overflow: hidden;


}

.picture-header {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 20px;
  transition: font-size 2s, background-color 4s;

  &:hover {
    font-size: 40px;
  }

  .picture-button {
    border: none;
    width: 135px;
    padding-left: 10px;
    margin: 20px 0;
    position: absolute;
    right: 384px;
    top: -20px;
    border-left: 1px solid #386387;
    color: white;
    padding-top: 9px;
    font-size: 13px;

    &:hover {
      background: #507FA6;
    }

    .fa-plus-circle {
      position: absolute;
      margin-left: 3px;
      margin-top: 4px;
      font-size: 20px;
      background: -webkit-linear-gradient(#F5F7F9,#AABFD0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .picture-add {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      display: inline-block;
      padding-top: 20px;
      margin-top: -13px;
      padding-bottom: 13px;
      outline: none;

    }
  }
  h2 {
    display: inline-block;
    margin: 20px 0;
    font-weight: bold;
    background: linear-gradient(#507FA6, #32628C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
}
.add-outer {
  @include outer-container;

  .add-header {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 20px;

    h2 {
      display: inline-block;
      margin: 20px 0;
      font-weight: bold;
      background: linear-gradient(#507FA6, #32628C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }
  }

  .add-form {
    text-align: left;
    margin-left: 31%;

    .add-label-title {
      display: block;

      span {
        font-size: 20px; 
        background: -webkit-linear-gradient(#507FA6,#32628C);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
      }
      
      input {
        width: 400px;
        display: block;
      }
    }
    .add-label-url {
      display: block;

      span {
        font-size: 20px;
        background: -webkit-linear-gradient(#507FA6,#32628C);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
      }
      
      input {
        width: 400px;
        display: block;
      }
    }
    .add-label-about {
      display: block;     

      span {
        font-size: 20px;
        background: -webkit-linear-gradient(#507FA6,#32628C);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
      }
      
      textarea {
        width: 400px;
        height: 100px;
        display: block;
      }
    }

  }
  

}

.edit-outer {
  @include outer-container;

  .edit-header {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 20px;

    h2 {
      display: inline-block;
      margin: 20px 0;
      font-weight: bold;
      background: linear-gradient(#507FA6, #32628C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }
  }

  .edit-form {
    text-align: left;
    margin-left: 31%;

    .edit-label-title {
      display: block;

      span {
        font-size: 20px; 
        background: -webkit-linear-gradient(#507FA6,#32628C);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
      }
      
      input {
        width: 400px;
        display: block;
      }
    }
    .edit-label-url {
      display: block;

      span {
        font-size: 20px;
        background: -webkit-linear-gradient(#507FA6,#32628C);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
      }
      
      input {
        width: 400px;
        display: block;
      }
    }
    .edit-label-about {
      display: block;     

      span {
        font-size: 20px;
        background: -webkit-linear-gradient(#507FA6,#32628C);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
      }
      
      textarea {
        width: 400px;
        height: 100px;
        display: block;
      }
    }

  }

}

.detail-outer {
  @include outer-container;

  .detail-header {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 20px;

    h2 {
      display: inline-block;
      margin: 20px 0;
      font-weight: bold;
      background: linear-gradient(#507FA6, #32628C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }
  }

  .detail-img {
    @include span-columns(6 of 12);
    @include omega;

    img {
      width: 100%;
      border-radius: 25px;
      border: 10px dotted #507FA6;
      max-height: 550px;
    }
  }

  .detail-about {
    @include span-columns(6 of 12);
    @include omega;
    margin-left: 20px;
    text-align: center;


    h2 {
      display: inline-block;
      margin: 20px 0;
      color: white;
      font-weight: 100;
      background: linear-gradient(#507FA6, #32628C);
      padding: 10px 20px;
      border-radius: 10px;
    }
  }

}

// Add submit and cancel button style
.add-submit {
  border: none;
  width: 135px;
  padding-left: 10px;
  margin: 20px 0;
  position: absolute;
  right: 384px;
  top: -20px;
  border-left: 1px solid #386387;
  color: white;
  padding-top: 9px;
  font-size: 13px;

  &:hover {
    background: #507FA6;
  }

  .fa-check {
    position: absolute;
    margin-left: 3px;
    margin-top: 4px;
    font-size: 20px;
    background: -webkit-linear-gradient(#F5F7F9,#AABFD0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .add-submit-btn{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    display: inline-block;
    padding-top: 20px;
    margin-top: -13px;
    padding-bottom: 13px;
    outline: none;

  }
}

.add-cancel {
  border: none;
  width: 135px;
  padding-left: 10px;
  margin: 20px 0;
  position: absolute;
  right: 520px;
  top: -20px;
  border-left: 1px solid #386387;
  color: white;
  padding-top: 9px;
  font-size: 13px;

  &:hover {
    background: #507FA6;
  }

  .fa-ban {
    position: absolute;
    margin-left: 3px;
    margin-top: 4px;
    font-size: 20px;
    background: -webkit-linear-gradient(#F5F7F9,#AABFD0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .add-cancel-btn{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    display: inline-block;
    padding-top: 20px;
    margin-top: -13px;
    padding-bottom: 13px;
    outline: none;

  }
}

// Edit submit and cancel button styles
.edit-submit {
  border: none;
  width: 135px;
  padding-left: 10px;
  margin: 20px 0;
  position: absolute;
  right: 384px;
  top: -20px;
  border-left: 1px solid #386387;
  color: white;
  padding-top: 9px;
  font-size: 13px;

  &:hover {
    background: #507FA6;
  }

  .fa-check {
    position: absolute;
    margin-left: 3px;
    margin-top: 4px;
    font-size: 20px;
    background: -webkit-linear-gradient(#F5F7F9,#AABFD0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .edit-submit-btn {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    display: inline-block;
    padding-top: 20px;
    margin-top: -13px;
    padding-bottom: 13px;
    outline: none;

  }
}

.edit-cancel {
  border: none;
  width: 135px;
  padding-left: 10px;
  margin: 20px 0;
  position: absolute;
  right: 520px;
  top: -20px;
  border-left: 1px solid #386387;
  color: white;
  padding-top: 9px;
  font-size: 13px;

  &:hover {
    background: #507FA6;
  }

  .fa-ban {
    position: absolute;
    margin-left: 3px;
    margin-top: 4px;
    font-size: 20px;
    background: -webkit-linear-gradient(#F5F7F9,#AABFD0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .edit-cancel-btn{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    display: inline-block;
    padding-top: 20px;
    margin-top: -13px;
    padding-bottom: 13px;
    outline: none;

  }
}

// Details edit and back button styles
.detail-edit {
  border: none;
  width: 135px;
  padding-left: 10px;
  margin: 20px 0;
  position: absolute;
  right: 384px;
  top: -20px;
  border-left: 1px solid #386387;
  color: white;
  padding-top: 9px;
  font-size: 13px;

  &:hover {
    background: #507FA6;
  }

  .fa-pencil {
    position: absolute;
    margin-left: 3px;
    margin-top: 4px;
    font-size: 20px;
    background: -webkit-linear-gradient(#F5F7F9,#AABFD0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .detail-edit-btn {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    display: inline-block;
    padding-top: 20px;
    margin-top: -13px;
    padding-bottom: 13px;
    outline: none;

  }
}

.detail-back {
  border: none;
  width: 135px;
  padding-left: 10px;
  margin: 20px 0;
  position: absolute;
  right: 520px;
  top: -20px;
  border-left: 1px solid #386387;
  color: white;
  padding-top: 9px;
  font-size: 13px;

  &:hover {
    background: #507FA6;
  }

  .fa-arrow-left {
    position: absolute;
    margin-left: 3px;
    margin-top: 4px;
    font-size: 20px;
    background: -webkit-linear-gradient(#F5F7F9,#AABFD0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .detail-back-btn{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    display: inline-block;
    padding-top: 20px;
    margin-top: -13px;
    padding-bottom: 13px;
    outline: none;

  }
}

.spinner {
  margin-left: 43%;
  margin-top: 200px;
}

.fa-cog {
  font-size: 200px;
  color: #507FA6;
}
