@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  background-color: #F5F5F5;
}

.main-header {
  height: 45px;
  border-bottom: 1px solid black;
  background: linear-gradient(#507FA6, #32628C);

}

.main-title {
  float: left;
  font-size: 24px;
  margin-top: 2px;
  background: -webkit-linear-gradient(#F5F7F9,#AABFD0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Indie Flower', cursive;
  margin-left: 200px;
}
.main-login {
  float: right;
  border-left: 1px solid #386387;
  border-right: 1px solid #386387;
  color: white;
  padding: 12px;
  font-size: 13px;

  .fa-user {
    background: -webkit-linear-gradient(#F5F7F9,#AABFD0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 5px;  
    font-size: 20px;
  }

  &:hover {
    background: #507FA6;

  }
}
.main-settings {
  float: right;
  border-right: 1px solid #386387;
  color: white;
  margin-right: 200px;
  padding: 12px;
  font-size: 13px;

  .fa-cog {
    background: -webkit-linear-gradient(#F5F7F9,#AABFD0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 5px;
    font-size: 20px;
  }

  &:hover {
    background: #507FA6;

  }
}




.outer {
  @include outer-container;

  .primary {
    @include span-columns(12);
    @include omega;

    .pic-container {
      @include span-columns(3 of 12);
      @include omega(4n);
      
    }
  }
}

.pic-container {
  border: 1px solid black;
  overflow: hidden;
  height: 200px;
  cursor: pointer;
  margin-bottom: 2.35765%;
  border-radius: 15%;
  
}

.main-pictures {
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.picture-header {
  width: 100%;
  text-align: center;
  margin-left: 63px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 20px;

  .picture-button {
    float: right;
    display: inline-block;


    .picture-add {
      width: 125px;
      margin: 20px 0;
    }
  }
  h2 {
    display: inline-block;
    margin: 20px 0;
  }
}

